<!DOCTYPE html>
<html>
    <head>
        <title>Data</title>
    </head>
    <body>
        <h1>Data</h1>
        <p>Navigate pages:</p>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <table>
            <h2>Netflix Shows</h2>
            <thead>
                <tr><th>Title</th><th>Type</th><th>Director</th><th>Date Added</th><th>Release Year</th></tr>
            </thead>
            <tbody>
                {% for t in titles%}
            <tr><td>{{ t[2] }}</td><td>{{ t[1] }}</td><td>{{ t[3] }}</td><td>{{ t[6] }}</td><td>{{ t[7] }}</td></tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>

