<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Data</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>Data</h1>
        <p>Navigate pages:</p>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <h2>Netflix Shows</h2>
        <table class="table">
                <tr class="table__header">
                    <th class="table__cell">Title</th>
                    <th class="table__cell">Type</th>
                    <th class="table__cell">Director</th>
                    <th class="table__cell">Date Added</th>
                    <th class="table__cell">Release Year</th>
                </tr>
            {% for t in titles%}
            <tr class="table__row">
                <td class="table__cell">{{ t[2] }}</td>
                <td class="table__cell">{{ t[1] }}</td>
                <td class="table__cell">{{ t[3] }}</td>
                <td class="table__cell">{{ t[6] }}</td>
                <td class="table__cell">{{ t[7] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

